@import url('https://fonts.googleapis.com/css2?family=Potta+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Federo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-weight: 400;
}
::-webkit-scrollbar{
  width: 7px;
  height: 7px;
}
::-webkit-scrollbar-thumb{
  background-color: #565759;
  border-radius: 10px;
}